.u-section-1 .u-sheet-1 {
  min-height: 897px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  letter-spacing: 5px;
  text-shadow: 5px 4px 10px rgba(0,0,0,0.4);
  box-shadow: 5px 4px 8px 0 rgba(0,0,0,0);
  font-size: 4.5rem;
  margin: 124px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 546px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 546px;
  margin: 20px 297px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-right: 237px;
    margin-left: 197px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-left: 197px;
    margin-right: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 87px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 87px;
    margin-right: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 68px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
  }
}