.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  text-shadow: 5px 4px 6px rgba(128,128,128,1);
  letter-spacing: 4px;
  background-image: none;
  margin: 88px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  margin: 47px auto 0 379px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  margin: 9px auto 0 379px;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  margin: 9px auto 0 379px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  width: 382px;
  text-transform: none;
  margin: 9px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 264px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 264px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 264px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-left: 195px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 195px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 156px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: 143px;
    margin-left: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
    margin-right: 142px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 166px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 106px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
    margin-right: -11px;
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 74px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 21px;
    margin-right: -8px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 15px;
    margin-right: -8px;
    margin-left: 30px;
  }
}