.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  letter-spacing: 4px;
  font-size: 3.75rem;
  text-shadow: 6px 3px 8px rgba(128,128,128,1);
  box-shadow: 0 3px 0 0 rgba(0,0,0,0);
  margin: 87px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: normal;
  font-weight: 700;
  margin: 43px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 292px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 34px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 43px;
    margin-right: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 61px;
  }
}