.u-section-1 .u-sheet-1 {
  min-height: 936px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 33px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 13px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: -13px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 18px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 8px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
  }
}