.u-section-1 .u-sheet-1 {
  min-height: 2711px;
}

.u-section-1 .u-text-1 {
  text-shadow: 5px 3px 8px rgba(0,0,0,0.4);
  box-shadow: 5px 3px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 55px 286px 0 242px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-11 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-12 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-13 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-14 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-15 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-16 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-17 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-18 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 20px 242px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 186px;
    margin-left: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 76px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3787px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-text-18 {
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}