.u-section-1 .u-sheet-1 {
  min-height: 2195px;
}

.u-section-1 .u-text-1 {
  text-shadow: 6px 3px 8px rgba(0,0,0,0.7);
  box-shadow: 5px 3px 8px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 286px 0 242px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 218px 0 242px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 302px 0 242px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 15px 286px 0 242px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 218px 0 242px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 218px 0 242px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 218px 0 242px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 286px 0 242px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 218px 0 242px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 218px 60px 242px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 118px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 202px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 186px;
    margin-left: 142px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-text-14 {
    margin-right: 118px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 118px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 118px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 118px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 118px;
    margin-left: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 8px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 92px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 8px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 8px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 8px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 76px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 8px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 8px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }
}