.u-section-1 .u-sheet-1 {
  min-height: 2030px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  font-size: 3.75rem;
  letter-spacing: 5px;
  text-shadow: 5px 3px 8px rgba(0,0,0,0.4);
  box-shadow: 5px 3px 0 0 rgba(0,0,0,0);
  font-weight: normal;
  margin: 108px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  width: 688px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  width: 688px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 288px 0 226px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 0 226px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-style: italic;
  margin: 20px 258px 60px 226px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1971px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 245px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -39px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 165px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 165px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 165px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 197px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 229px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 245px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 245px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 245px;
    margin-left: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2000px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 54px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2136px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    font-weight: 700;
    margin-top: 103px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2223px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-style: normal;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    font-style: normal;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    font-style: normal;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.25rem;
  }
}