.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-text-1 {
  text-shadow: 6px 3px 8px rgba(0,0,0,0.4);
  box-shadow: 5px 3px 8px 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: 29px 174px 0 220px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: 20px 174px 0 220px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: 20px 174px 60px 220px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 74px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-right: 74px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 74px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -313px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 198px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 197px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -332px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -138px;
  }
}